<h1><%= @restaurant.name %>'s Info</h1>

<p> Address: <%= @restaurant.address %></p>
<p> Tel. <%= @restaurant.phone_number %> </p>

<h2>Restaurant Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.rating %> - <%= review.content %></li>
  <% end %>
</ul>

<%= link_to "Leave a Review!", new_restaurant_review_path(@restaurant) %>

<%= link_to "Back", restaurants_path%>
